body{
    background-image: url("brick_background.jpeg");
}
@font-face {
    font-family: 'pageFont';
    src: url('Delusional.ttf');
}
h1{
    text-align: center;
    color:white;
    font-size: 400%;
    /*display: none;*/
    font-family: 'pageFont'
}
.iTextBox{
    background-color: maroon;
    height: 250px;
    width:500px;
    margin-left: 27%;
    margin-right:25%;
    padding: 5% 3% 5% 3%;
    border-radius: 25%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
#myCanvas{
    background-color: white;
    /*height: 250px;
    width:500px;*/
    margin-left: 27%;
    margin-right:25%;
    padding: 5% 3% 5% 3%;
    border-radius: 25%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    display:none;
}

#iText{
    text-align: center;
    color: white;
    font-family: 'pageFont';
}

#arrowBtn{
    background: url(instructionArrow.png);
    background-size: 15% 75px;
    width: 15%;
    height: 75px;
    border-width: 0px;
    float: right;
    margin-right:25%;
}
#reload{
    width: 15%;
    height: 75px;
    border-width: 0px;
    float: right;
    margin-right:25%; 
    display:none; 
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'pageFont';
}
#startBtn{
    margin-left: 38%;
    margin-top: 25%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'pageFont';
    visibility: hidden;
}